
<form action="/admin/newuser" method="post">
    <div class="row mb-3">

        <div class="col-sm-10">
            <input type="text" class="form-control"  placeholder="usuario" name="usuario">
        </div>
    </div>
    <div class="row mb-3" > 
        <div class="col-sm-10">
            <textarea type="text" class="form-control" placeholder="password" name="password"></textarea>
        </div>
         <button style="margin: top 20px ;" type="submit" class="btn btn-outline-primary">guardar</button>

    </div>

  
   

</form>
 