<div class="container" style="margin: top 50px;">
    <div class="row">
        <p class="text-end" style=padding:10px;>hola {{usuario}}! <a href="/admin/login/logout"><button type="button"
                    class="btn btn-danger">cerrar session</button></a></p>
    </div>


</div>

<h2>Novedades <i class="fa-solid fa-newspaper"></i></h2>
<div class="novedades">
    <h3>titulo</h3>
    <h4>subtitulo</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum dolorum rerum, iste hic nostrum, possimus
        ipsam ex sapiente maiores consequuntur harum iure vitae dolores quod minima praesentium aliquid at
        ducimus.

    </p>
    <hr>
</div>
<div class="novedades">
    <h3>titulo</h3>
    <h4>subtitulo</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum dolorum rerum, iste hic nostrum, possimus
        ipsam ex sapiente maiores consequuntur harum iure vitae dolores quod minima praesentium aliquid at
        ducimus.

    </p>
    <hr>
</div>
<div class="novedades">

    <h3>titulo</h3>
    <h4>subtitulo</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum dolorum rerum, iste hic nostrum, possimus
        ipsam ex sapiente maiores consequuntur harum iure vitae dolores quod minima praesentium aliquid at
        ducimus.

    </p>
    <hr>
</div>