
   <main class="holder contacto">
        <div>
            <h2>contacto rapido <i class="fa-solid fa-address-book"></i></h2>
            <form action="/contacto" method="post" class="formulario">
                <p>
                    <label for="nombre">nombre</label>
                    <input type="text" name="nombre">
                </p>
                <p><label for="email">email</label>
                    <input type="text" name="email">
                </p>
                <p><label for="telefono">telefono</label>
                    <input type="text" name="tel">
                </p>
                <p>
                    <label for="mensaje">mensaje</label>
                    <textarea name="mensaje"></textarea>
                </p>
                <p><input type="submit"></p>
            </form>
            <p style="color:rgb(218, 18, 18);"> {{message}} </p>
        </div>
        <div class="datos">
            <h2>otras vias de comunicacion <i class="fa-solid fa-phone"></i></h2>
            <p>tambien puede comunicarse con nosotros por los siguientes medios</p>
            <ul>
                <li>telefono: 73467312689</li>
                <li>email: falso@hasoiafn</li>
                <li>facebook</li>
                <li>twiter</li>
                <li>skype</li>
                
            </ul>
        </div>
        </main>






