<div class="objetivos">
            <h2>objetivos <i class="fa-solid fa-person-chalkboard"></i></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat excepturi omnis veniam corporis
                blanditiis provident quo voluptatibus sit, corrupti non vel doloremque consequuntur aperiam qui dolorem
                velit dolores natus labore.</p>
        </div>
        <div class="staff">
            <div class="personas">
                <div class="persona">
                    <img src="https://via.placeholder.com/130" alt="director">
                    <h5>ronaldo</h5>
                    <h6>director</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis necessitatibus omnis labore,
                        aspernatur dolorum, voluptates in qui ullam ab architecto eum esse laborum quasi consectetur
                        similique debitis expedita reiciendis velit.</p>
                </div>
                <div class="persona">
                    <img src="https://via.placeholder.com/130" alt="director">
                    <h5>ronaldo</h5>
                    <h6>profesor</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis necessitatibus omnis labore,
                        aspernatur dolorum, voluptates in qui ullam ab architecto eum esse laborum quasi consectetur
                        similique debitis expedita reiciendis velit.</p>
                </div>
                <div class="persona">
                    <img src="https://via.placeholder.com/130" alt="director">
                    <h5>ronaldo</h5>
                    <h6>profesor</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis necessitatibus omnis labore,
                        aspernatur dolorum, voluptates in qui ullam ab architecto eum esse laborum quasi consectetur
                        similique debitis expedita reiciendis velit.</p>
                </div>
                <div class="persona">
                    <img src="https://via.placeholder.com/130" alt="director">
                    <h5>ronaldo</h5>
                    <h6>profesor</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis necessitatibus omnis labore,
                        aspernatur dolorum, voluptates in qui ullam ab architecto eum esse laborum quasi consectetur
                        similique debitis expedita reiciendis velit.</p>
                </div>

            </div>
        </div>