  <h2>efemerides<i class="fa-solid fa-newspaper"></i></h2>
   {{#each efemerides}}
        <div class="novedades">
            <h3> {{titulo}} </h3>
            <h4> {{subtitulo}} </h4>
            <p>{{cuerpo}}
            </p>
            <hr>
        </div>
        {{/each}}
        