 <div class="home">
            <img src="/images/escuela (1).jpg" alt="frente">
        </div>
        <div class="columna">
            <div class="bienvenidos">
                <h2>Bienvenidos</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga unde doloremque nam quos esse odio cum
                    consectetur provident dolorum aliquid earum assumenda aut, reprehenderit debitis voluptatem ut
                    quisquam autem eos. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur, ratione
                    harum at quos repudiandae adipisci a maiores quis ex reprehenderit? Natus illum veniam
                    necessitatibus obcaecati. Debitis, repellat? Quos, veritatis modi!</p>
    
            </div>
            <div class="comentarios">
                <h2>testimonio</h2>

                <div class="cuadro">
                    <span class="cita">excelente enseñanza </span><br><span
                        class="autor">
                        <strong>graciela</strong></span>
                </div>
            </div>
        </div>
       