 <h2>Instalaciones <i class="fa-solid fa-school"></i></h2>
        <div class="todo">
        <div class="instalaciones">
            <div><img src="https://via.placeholder.com/150" alt="gym"></div>
            <div class="info">
                <h4>Gymnacio</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione esse tempore architecto repellendus
                    fugit nemo aperiam cupiditate vitae, placeat assumenda autem illo officia amet nam ullam quis!
                    Quidem, cumque doloremque.</p>
            </div>
        </div>
        <div class="instalaciones">
            <div><img src="https://via.placeholder.com/150" alt="comedor"></div>
            <div class="info">
                <h4>Comedor</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione esse tempore architecto repellendus
                    fugit nemo aperiam cupiditate vitae, placeat assumenda autem illo officia amet nam ullam quis!
                    Quidem, cumque doloremque.</p>
            </div>
        </div>
        <div class="instalaciones">
            <div><img src="https://via.placeholder.com/150" alt="salon"></div>
            <div class="info">
                <h4>Salones</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione esse tempore architecto repellendus
                    fugit nemo aperiam cupiditate vitae, placeat assumenda autem illo officia amet nam ullam quis!
                    Quidem, cumque doloremque.</p>
            </div>
        </div>
        </div>
